*.o
*.ali
*.exe
obj/
tmp_*/
tmp_*
*.ll
tests/test_arguments
tests/test_commands
tests/test_compiling
tests/test_dependencies
tests/test_directories
tests/test_files
tests/test_logging
tests/test_paths
tests/test_platform
tests/test_processes
tests/test_rebuilding
tests/build_tests
examples/build_all
examples/file
examples/foreach
examples/lib_demo
examples/logging
examples/pipe
examples/str_demo
examples/tools/cat
examples/tools/hex
examples/tools/rot13
tests/last_run.*
